{{#each players}}
	<div class="player-wrapper" id="{{this.id}}">
		<a href="/player/{{this.id}}">
			<span class="name"> {{this.name}} </span> |
			<span class="email"> {{this.email}} </span> |
			<span class="points"> {{this.points}} </span>
		</a>
		<button class="delete-player" data-id="{{this.id}}">Delete</button>
		<button class="add-point" data-id="{{this.id}}">+</button>
	</div>
{{/each}}